* {
  box-sizing: border-box;
}

body {
  background-color: #fb6b6b;
}

h1 {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;
  color: #ffffff;
}

.black {
  color: #333333;
}

.red {
  color: #ff3030;
  text-decoration: line-through;
}

.orange {
  color: #ff922e;
  text-decoration: line-through;
}

.green {
  color: #2fbe34;
  text-decoration: line-through;
}

.hide {
  display: none;
}

.noClick {
  pointer-events: none;
}
