* {
  box-sizing: border-box;
}

body {
  background-color: #fb6b6b;
}

h1 {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;
  color: #ffffff;
}

.frontAnswer {
  width: 600px;
  height: 100px;
  background: #ffffd5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}

.frontAnswer p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 10px;
  color: #333333;
}

.frontAnswer ion-icon {
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 30px;
  color: #333333;
}

.answer-visible {
  width: 600px;
  height: 100%;
  background: #ffffd5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}

.answer-visible p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 10px;

  color: #333333;
}

.answers {
  display: flex;
  margin-top: 25px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.answer-visible .dontRemember {
  width: 85px;
  height: 40px;
  background: #ff3030;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-visible .dontRemember p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.answer-visible .almostRemember {
  width: 85px;
  height: 40px;
  background: #ff922e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-visible .almostRemember p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.answer-visible .remember {
  width: 85px;
  height: 40px;
  background: #2fbe34;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-visible .remember p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.questions :nth-child(4) {
  margin-bottom: 70px;
}

.bottomStatus {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.bottomStatus p {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #333333;
}

.msgFinal h3 {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 15px;
}

.msgFinal h4 {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #333333;
  margin-bottom: 15px;
}

.restart {
  width: 50%;
  height: 32px;
  background: #fb6b6b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
  cursor: pointer;
}

.black {
  color: #333333;
}

.red {
  color: #ff3030;
  text-decoration: line-through;
}

.orange {
  color: #ff922e;
  text-decoration: line-through;
}

.green {
  color: #2fbe34;
  text-decoration: line-through;
}

ion-icon[name="checkmark-circle-sharp"] {
  color: #2fbe34;
}

ion-icon[name="help-circle-sharp"] {
  color: #ff922e;
}

ion-icon[name="close-circle-sharp"] {
  color: #ff3030;
}

.hide {
  display: none;
}

.noClick {
  pointer-events: none;
}

@media (max-width: 935px) {
  .buttomStart {
    width: 80%;
  }

  .question {
    width: 80%;
  }

  .frontQuestion {
    width: 100%;
  }

  .frontAnswer {
    width: 100%;
  }

  .answer-visible {
    width: 100%;
  }
}
