* {
  box-sizing: border-box;
}

body {
  background-color: #fb6b6b;
}

h1 {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;
  color: #ffffff;
}

.welcomeUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.welcomeUser img {
  width: 136px;
  height: 161px;
  margin-bottom: 10px;
}

.buttomStart {
  display: flex;
  width: 40%;
  height: 54px;
  background: #ffffff;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}

.buttomStart p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #d70900;
}

.inicialDisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.tittle {
  display: flex;
}

.tittle img {
  width: 52px;
  height: 60px;
  margin-right: 20px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(10%);
}

.question {
  width: 600px;
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

.question h2 {
  font-family: "Recursive";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #333333;
}

.question ion-icon {
  color: #333333;
  font-size: 20px;
}

.question-visible {
  width: 600px;
  height: 100px;
  background: #ffffd5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

.question-visible p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 10px;
  color: #333333;
}

.question-visible ion-icon {
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 30px;
  color: #333333;
}

.bottomStatus {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomStatus p {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #333333;
}

.hide {
  display: none;
}

@media (max-width: 935px) {
  .buttomStart {
    width: 80%;
  }

  .question {
    width: 75%;
  }

  .question-visible {
    width: 75%;
  }
}
