.allScreens {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttomStart {
  display: flex;
  width: 40%;
  height: 54px;
  background: #ffffff;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.buttomStart p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #d70900;
}

@media (max-width: 935px) {
  .buttomStart {
    width: 80%;
  }
}
