.bottomStatus {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.bottomStatus p {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #333333;
}

.questions :nth-child(4) {
  margin-bottom: 70px;
}

.msgFinal h3 {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 15px;
}

.msgFinal h4 {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #333333;
  margin-bottom: 15px;
}

.restart {
  width: 50%;
  height: 32px;
  background: #fb6b6b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}

.restart:hover {
  box-shadow: 1px 1px #f34848, 2px 2px #f34848, 3px 3px #f34848;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
