.answer-visible {
  width: 600px;
  height: 100%;
  background: #ffffd5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}

.answer-visible p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 10px;

  color: #333333;
}

.answers {
  display: flex;
  margin-top: 25px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.answer-visible .dontRemember {
  width: 85px;
  height: 40px;
  background: #ff3030;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-visible .dontRemember p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.answer-visible .almostRemember {
  width: 85px;
  height: 40px;
  background: #ff922e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-visible .almostRemember p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.answer-visible .remember {
  width: 85px;
  height: 40px;
  background: #2fbe34;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-visible .remember p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.answer-visible:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}

@media (max-width: 935px) {
  .answer-visible {
    width: 100%;
  }
}
